.row{
    margin: 5% 0 5% 0;
}

#main{
    padding: 2%;
    box-shadow: -2px 3px 7px 3px rgb(141, 141, 143) ;
}

.btn{
    box-shadow: 1px 1px 2px 1px rgb(43, 43, 77) ;
}

.kz-input-text{
    box-shadow: inset 1px 1px 2px 1px lightgray;
}